@page "/"
@inject ISellerService Sellerservice
@inject IAppUserService UserService
@inject AuthenticationStateProvider Auth

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <h1>Hello @_user.FirstName @_user.LastName</h1>
    @if (_seller is null)
    {
        <p>You didn't set your company, without that you can't create new invoice.</p>
        <p>Please do that:</p>
        <a class="btn btn-danger" href="/NewSeller">Add Your company</a>
    }
    else
    {
        <div class="container mt-4">
            <h4>Your Company:</h4>
            <table class="table table-secondary table-bordered">

                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>@_seller.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Nip</th>
                        <td>@_seller.Nip</td>
                    </tr>
                    <tr class="d-none">
                        <th scope="row">Id</th>
                        <td>@_seller.Id</td>
                    </tr>
                    @if (!(_seller.Address is null))
                    {
                        <tr>
                            <th scope="row">Postal Code</th>
                            <td>@_seller.Address.PostalCode</td>
                        </tr>
                        <tr>
                            <th scope="row">City</th>
                            <td>@_seller.Address.City</td>
                        </tr>
                        <tr>
                            <th scope="row">Street</th>
                            <td>@_seller.Address.Street</td>
                        </tr>
                        <tr>
                            <th scope="row">Street Number</th>
                            <td>@_seller.Address.StreetNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Apartment Number</th>
                            <td>@_seller.Address.ApartmentNumber</td>
                        </tr>
                    }
                    <tr>
                        <th scope="row">Phone</th>
                        <td>@_seller.Phone</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>@_seller.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Vat Payer</th>
                        <td>@_seller.IsVatPayer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

</AuthorizeView>

@code {
    private AppUser _user = new AppUser();
    private Seller _seller = new Seller();
    protected override async Task OnInitializedAsync()
    {
        var authState = await Auth.GetAuthenticationStateAsync();
        var authUser = authState.User;
        var users = await UserService.GetAll();
        _user = users.FirstOrDefault(u => u.UserName == authUser.Identity.Name);
        var sellers = await Sellerservice.GetAllSellersAsync();
        _seller = sellers.FirstOrDefault(s => s.User.Id == _user.Id);
    }

}