@page "/"
@inject ISellerService _sellerservice
@inject IAppUserService _userService
@inject AuthenticationStateProvider _auth

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <h1>Hello @user.FirstName @user.LastName</h1>
    @if (seller is null)
    {
        <p>You didn't set your company, without that you can't create new invoice.</p>
        <p>Please do that:</p>
        <a class="btn btn-danger" href="/NewSeller">Add Your company</a>
    }
    else
    {
        <div class="container mt-4">
            <h4>Your Company:</h4>
            <table class="table table-striped">

                <tbody>
                    <tr>
                        <th scope="row">Name</th>
                        <td>@seller.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Nip</th>
                        <td>@seller.Nip</td>
                    </tr>
                    <tr class="d-none">
                        <th scope="row">Id</th>
                        <td>@seller.Id</td>
                    </tr>
                    @if (!(seller.Address is null))
                    {
                        <tr>
                            <th scope="row">Postal Code</th>
                            <td>@seller.Address.PostalCode</td>
                        </tr>
                        <tr>
                            <th scope="row">City</th>
                            <td>@seller.Address.City</td>
                        </tr>
                        <tr>
                            <th scope="row">Street</th>
                            <td>@seller.Address.Street</td>
                        </tr>
                        <tr>
                            <th scope="row">Street Number</th>
                            <td>@seller.Address.StreetNumber</td>
                        </tr>
                        <tr>
                            <th scope="row">Apartment Number</th>
                            <td>@seller.Address.ApartmentNumber</td>
                        </tr>
                    }
                    <tr>
                        <th scope="row">Phone</th>
                        <td>@seller.Phone</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>@seller.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Vat Payer</th>
                        <td>@seller.IsVatPayer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

</AuthorizeView>

@code {
    private AppUser user = new AppUser();
    private Seller seller = new Seller();
    protected override async Task OnInitializedAsync()
    {
        var authState = await _auth.GetAuthenticationStateAsync();
        var authUser = authState.User;
        var users = await _userService.GetAll();
        user = users.FirstOrDefault(u => u.UserName == authUser.Identity.Name);
        var sellers = await _sellerservice.GetAllSellersAsync();
        seller = sellers.FirstOrDefault(s => s.User.Id == user.Id);
    }

}