@page "/invoices"
@inject IInvoiceService _invoiceService
<PageTitle>Invoice List</PageTitle>
<h3>Invoice List</h3>
<a class="btn btn-outline-primary" href="newInvoice">Add New</a>
@if (isVisible)
{
    
<NewInvoice></NewInvoice>
}
@if (invoices == null)
{
    <p>Loading .... </p>
}
else if (invoices.Count()==0)
{
    <p><span class="oi oi-compass"></span> Nothing to show :(((</p>
}
else
{
    <QuickGrid Items="invoices.AsQueryable()">
        <PropertyColumn Property="@(i=>i.Number)" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(i=>i.DateOfIssue)" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(i=>i.TotaNetlValue)" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(i=>i.TotalGrossValue)" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(i=>i.PaymentDate)" Sortable="true"></PropertyColumn>
        <PropertyColumn Property="@(i=>i.IsPaid)" Sortable="true"></PropertyColumn>
        <TemplateColumn Title="Action Buttons">
            <button class="btn btn-danger">View</button>
            <button class="btn btn-dark">Edit</button>
            <button class="btn btn-primary">Duplicate</button>
        </TemplateColumn>
    </QuickGrid>
}



@code {
    

}
