@page "/invoiceAction"
@page "/invoiceAction/{invoiceId:int?}"
@using InvoiceApplication.Pages.ModalPages
@inject IInvoiceService _invoiceService
@inject IItemService _itemService
@inject IInvoiceItemService _invItemService
<PageTitle>@((invoiceId == null || invoiceId == 0) ? "Add New Invoice" : "Update Invoice")</PageTitle>
    <ModalWindow modalMessage="modalModelMessage" onCancel="onCancel" onConfirm="onConfirm" forDelete="toDelete"></ModalWindow>
    <ModalItemList isVisible="isVisibleItemsModal" items="items" OnCLickClose="CloseItemsModal" OnCLickAdd="AddItemFromModalItems"></ModalItemList>
    <ModalItemsInvoiceEdit @ref="modalInvItemEdit" OnClickClose="CloseEditInvoiceItem"></ModalItemsInvoiceEdit>
    <h3>@((invoiceId == null || invoiceId == 0) ? "Add New Invoice" : "Update Invoice")</h3>
<EditForm Model="invoice" OnValidSubmit="HeaderConirmation">
    <DataAnnotationsValidator />
    <div class="row">

        <div class="col-3">
            <label for="number">Number</label>
            <InputText id="number" @bind-Value="invoice.Number" class="form-control"></InputText>
            <ValidationMessage For="@(() => invoice.Number)" />
        </div>
        <div class="col-3">
            <label for="createDate">Create Date</label>
            <InputDate id="createDate" @bind-Value="invoice.CreateDate" class="form-control"></InputDate>
            <ValidationMessage For=@(()=>invoice.CreateDate) />
        </div>
        <div class="col-3">
            <label for="issueDate">Issue Date</label>
            <InputDate id="createDate" @bind-Value="invoice.DateOfIssue" class="form-control"></InputDate>
            <ValidationMessage For=@(()=>invoice.DateOfIssue) />
        </div>
        <div class="col-3">
            <label for="days">Payment term</label>
            <InputNumber id="days" @bind-Value="invoice.DaysOfPaiment" class="form-control"></InputNumber>
            <ValidationMessage For=@(()=>invoice.DaysOfPaiment) />
        </div>
    </div>
    <div>
        <label>Payment deadline: @DateOnly.FromDateTime(invoice.PaymentDate)</label>
    </div>
    <div>
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="invoice.Description" class="form-control"></InputText>
        <ValidationMessage For=@(()=>invoice.Description) />
    </div>
    <button class="btn btn-success my-2" type="submit">@((invoiceId == null || invoiceId == 0) ? "Save Invoice" : "Update Invoice Header")</button>
</EditForm>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Item Name</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Net Value</th>
                <th>VAT Rate</th>
                <th>Total Gross Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in invoice.InvoiceItems.Select((item, index) => (item, index)))
            {
                <tr>
                    <td>@(index + 1)</td>
                    <td>@item.Item.Name @if (item.Description != "")
                        {
                            <br /> 
                            @item.Description
                        }
                    </td>
                    <td>@item.Item.UnitOfMeasure.ShortName</td>
                    <td>@item.NetPrice.ToString("0.00")</td>
                    <td>@item.Quantity</td>
                    <td>@item.TotalNetValue.ToString("0.00")</td>
                    <td>@item.VatRate</td>
                    <td>@item.TotalGrossValue.ToString("0.00")</td>
                    <td><button class="btn btn-dark" @onclick="(i=> EditInvoiceItem(item.Id))">Edit</button> | <button class="btn btn-danger" @onclick="(i=> DeleteInvoiceItem(item.Id))">Delete</button></td>
                </tr>
            }
            <tr>
                <td colspan="4"></td>
                <th>Total:</th>
                <td>@invoice.InvoiceItems.Sum(i => i.TotalNetValue).ToString("0.00")</td>
                <td>XXX</td>
                <td>@invoice.InvoiceItems.Sum(i => i.TotalGrossValue).ToString("0.00")</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div>

    @if (!(invoiceId == null || invoiceId == 0))
    {
        <button class="btn btn-outline-secondary me-2" @onclick="showItemsModal">Add Item to Invoice </button>
    }
    <a class="btn btn-secondary my-2" href=" Invoices">Back to Invoice List </a>
</div>
@code {
    bool modalConfirmed = false;
    bool toDelete = false;
    [Parameter]
    public int? invoiceId { get; set; }
    ModalMessage modalModelMessage = new();
    Invoice invoice = new();
    List<Item> items = new();
    ModalItemsInvoiceEdit modalInvItemEdit;
    bool isVisibleItemsModal = false;
    protected override async Task OnInitializedAsync()
    {
        items = await _itemService.GetAllItemsAsync();
        if (!(invoiceId == 0 || invoiceId == null))
        {
            invoice = await _invoiceService.GetInvoiceByIdAsync((int)invoiceId);
        }
    }
    void HeaderConirmation()
    {
        if (invoiceId == null || invoiceId == 0)
        {
            modalModelMessage.Body = "Are you sure to add a new invoice " + invoice.Number;
            modalModelMessage.Title = "Confirm:";

        }
        else
        {
            modalModelMessage.Body = "Are you sure you want to modify the invoice header " + invoice.Number;
            modalModelMessage.Title = "Confirm:";

        }
        modalModelMessage.Type = ModalType.Confirm;
        modalModelMessage.isVisible = true;

    }
    void ConfirmInvoice()
    {
        modalModelMessage.Body = "Are you sure to add the item to the invoice " + invoice.Number + "?";
        modalModelMessage.Title = "Confirm:";
        modalModelMessage.Type = ModalType.Confirm;
        modalModelMessage.isVisible = true;

    }
    private async void onConfirm(MouseEventArgs e)
    {
        modalConfirmed = true;
        if (modalModelMessage.idToDelte != null)
        {
            DeleteInvoiceItemConfirmed();

        }
        else if (await _invoiceService.InvoiceExist(invoice.Id))
        {
            await _invoiceService.UpdateInvoiceAsync(invoice);
            modalModelMessage.Type = ModalType.Success;
            modalModelMessage.Title = "Succes";
            modalModelMessage.Body = "Saved";
            modalModelMessage.isVisible = true;
        }
        else
        {
            await _invoiceService.AddInvoiceAsync(invoice);
            invoiceId = invoice.Id;
            modalModelMessage.Type = ModalType.Success;
            modalModelMessage.Title = "Succes";
            modalModelMessage.Body = "Saved";
            modalModelMessage.isVisible = true;
        }
        StateHasChanged();


    }
    private async void AddItemFromModalItems(int ItemId)
    {
        InvoiceItems invoiceItem = new();
        var selectedItem = items.FirstOrDefault(i => i.Id == ItemId);
        invoiceItem.ItemId = selectedItem.Id;
        invoiceItem.VatRate = selectedItem.VatRate.Rate;
        invoiceItem.InvoiceId = invoice.Id;
        await _invItemService.AddInvoiceItemAsync(invoiceItem);
        isVisibleItemsModal = false;
        modalModelMessage.Type = ModalType.Success;
        modalModelMessage.Title = "Success";
        modalModelMessage.Body = "The item has been successfully added to the invoice";
        modalModelMessage.isVisible = true;
        StateHasChanged();

    }
    private async void EditInvoiceItem(int invoiceItemId)
    {
        modalInvItemEdit.item = await _invItemService.GetInvoiceItemByIdAsync(invoiceItemId);
        modalInvItemEdit.isVisible = true;
        StateHasChanged();
    }
    private async void CloseEditInvoiceItem()
    {
        if (modalInvItemEdit.wasEdited)
        {
            modalInvItemEdit.isVisible = false;
            StateHasChanged();
            modalModelMessage.Body = "The invoice item has been updated";
            modalModelMessage.Title = "Success";
            modalModelMessage.Type = ModalType.Success;
            modalModelMessage.isVisible = true;

        }
        else
        {
            modalInvItemEdit.isVisible = false;
            StateHasChanged();
        }
    }
    private async void DeleteInvoiceItem(int invoiceItemId)
    {
        var invoiceItemToDelete = await _invItemService.GetInvoiceItemByIdAsync(invoiceItemId);
        modalModelMessage.Type = ModalType.Danger;
        modalModelMessage.Title = "Warrning";
        modalModelMessage.Body = $"Do you realy want delete {invoiceItemToDelete.Item.Name} ???";
        modalModelMessage.isVisible = true;
        modalModelMessage.idToDelte = invoiceItemId;
        StateHasChanged();

    }
    private async void DeleteInvoiceItemConfirmed()
    {
        if (modalModelMessage.idToDelte == null || modalModelMessage.idToDelte == 0)
        {
            modalModelMessage.Type = ModalType.Error;
            modalModelMessage.Title = "Something went wrong";
            modalModelMessage.Body = "The item has not been deleted from the invoice";
            modalModelMessage.isVisible = true;
            StateHasChanged();

        }
        else
        {
            await _invItemService.DeleteInvoiceItemByIdAsync((int)modalModelMessage.idToDelte);
            modalModelMessage.idToDelte = null;
            modalModelMessage.Type = ModalType.Success;
            modalModelMessage.Title = "Success";
            modalModelMessage.Body = "The item has been successfully deleted from the invoice";
            modalModelMessage.isVisible = true;
            invoice = await _invoiceService.GetInvoiceByIdAsync((int)invoiceId);
            StateHasChanged();
        }

    }
    private void showItemsModal()
    {
        isVisibleItemsModal = true;
    }
    private void CloseItemsModal()
    {
        isVisibleItemsModal = false;
    }
    private void onCancel(MouseEventArgs e)
    {
        modalModelMessage = new();
        StateHasChanged();

    }

}
