@page "/invoice/{invoiceId:int?}"
@inject IInvoiceService service
@inject IBuyerService _buyerServie
@inject ISellerService _sellerService
@inject NavigationManager navigationManager
<PageTitle>Invoice Details</PageTitle>
<h3>Invoice Details</h3>
@if (invoice is null)
{
    <h1>It looks like there's nothing here.</h1>
}
else
{
    <div class="invoice-header">
        <h4 class="text-end">@invoice.SellerAddress.City, @invoice.DateOfIssue.ToShortDateString()</h4>
        <h1 class="text-center">Faktura numer @invoice.Number</h1>

        <div class="row">
            <div class="col-6">
                <div class="invoice-header-info">
                    <div>@seller.Name</div>
                    <div>@seller.Address.Street @seller.Address.StreetNumber/@seller.Address.ApartmentNumber</div>
                    <div>@seller.Address.PostalCode @seller.Address.City</div>
                    <div>NIP: @seller.Nip</div>
                    <div>Email: @seller.Email</div>
                    <div>Phone: @seller.Phone</div>
                </div>
            </div>
            <div class="col-6 text-right">
                <div class="invoice-header-info">
                    <div>@buyer.Name</div>
                    <div>@buyer.Address.Street @buyer.Address.StreetNumber/@buyer.Address.ApartmentNumber</div>
                    <div>@buyer.Address.PostalCode @buyer.Address.City</div>
                    <div>NIP: @buyer.Nip</div>
                    <div>Email: @buyer.Email</div>
                    <div>Phone: @buyer.Phone</div>
                </div>
            </div>
        </div>
    </div>

    <div class="invoice-container">
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Item Name</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Net Value</th>
                    <th>VAT Rate</th>
                    <th>Total Gross Value</th>
                </tr>
            </thead>
            <tbody>
                @if (invoice.InvoiceItems.Any())
                {
                    @foreach (var (item, index) in invoice.InvoiceItems.Select((item, index) => (item, index)))
                    {
                        <tr>
                            <td>@(index + 1)</td>
                            <td class="col-5">
                                @item.Item.Name @if (item.Description != "")
                                {
                                    <br />
                                    @item.Description
                                }
                            </td>

                            <td>@item.Item.UnitOfMeasure.ShortName</td>
                            <td>@item.NetPrice.ToString("0.00 zł")</td>
                            <td>@item.Quantity</td>
                            <td>@item.TotalNetValue.ToString("0.00 zł")</td>
                            <td>@item.VatRate</td>
                            <td>@item.TotalGrossValue.ToString("0.00 zł")</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="4"></td>
                        <th>Total:</th>
                        <td>@invoice.InvoiceItems.Sum(i => i.TotalNetValue).ToString("0.00 zł")</td>
                        <td>XXX</td>
                        <td>@invoice.InvoiceItems.Sum(i => i.TotalGrossValue).ToString("0.00 zł")</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="8">
                            <p>No items in the invoice.</p>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="text-end">Termin płatności: @invoice.PaymentDate.ToShortDateString()</td>
                </tr>
            </tfoot>
        </table>
    </div>

    <button class="btn btn-secondary my-2" @onclick="BackToInvoiceList">Back to Invoice List</button>
}

@code {
    [Parameter]
    public int invoiceId { get; set; }
    private Invoice invoice;
    private Buyer buyer;
    private Seller seller;


    protected override async Task OnInitializedAsync()
    {
        if (!(invoiceId == 0))
        {
            invoice = await service.GetInvoiceByIdAsync((int)invoiceId);
            buyer = await _buyerServie.GetBuyerByIdAsync((int)invoice.BuyerId);
            seller = await _sellerService.GetSellerByIdAsync((int)invoice.SellerId);
        }
    }
    private void BackToInvoiceList()
    {
        navigationManager.NavigateTo("/invoices");
    }
}
