@using Microsoft.AspNetCore.Components.Web;

@if (ModalMessage.IsVisible)
{
    <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" id="modalChoice">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    @if (ModalMessage.Type == ModalType.Success)
                    {
                        <h5 class="mb-0 text-success">@ModalMessage.Title</h5>

                    }
                    else if (ModalMessage.Type == ModalType.Error)
                    {
                        <h5 class="mb-0 text-danger">@ModalMessage.Title</h5>

                    }
                    else if (ModalMessage.Type == ModalType.Danger)
                    {
                        <h5 class="mb-0 text-danger">@ModalMessage.Title</h5>

                    }
                    else
                    {
                        <h5 class="mb-0">@ModalMessage.Title</h5>
                    }

                    <p class="mb-0">@ModalMessage.Body</p>
                </div>
                @if (ModalMessage.Type == ModalType.Confirm)
                {
                    <div class="modal-footer flex-nowrap p-0">
                        <button type="button" class="btn btn-success rounded-0 border-end" @onclick="OnConfirm"><strong>Yes, confirm</strong></button>
                        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal" @onclick="OnCancel">No thanks</button>
                    </div>
                }
                else if (ModalMessage.Type == ModalType.Danger)
                {
                    <div class="modal-footer flex-nowrap p-0">
                        <button type="button" class="btn btn-success rounded-0 border-end" @onclick="OnConfirmDelete"><strong>Yes, confirm</strong></button>
                        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal" @onclick="OnCancel">No thanks</button>
                    </div>

                }
                else
                {

                    <div class="modal-footer flex-nowrap p-0">
                        <button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal" @onclick="OnCancel">Close</button>
                    </div>
                }


            </div>
        </div>
    </div>

}

@code {
    [Parameter]
    public ModalMessage ModalMessage { get; set; }
    [Parameter]
    public bool? ForDelete { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnConfirm { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnCancel { get; set; }
    private async void OnConfirmDelete()
    {
        ForDelete = true;
        await OnConfirm.InvokeAsync();
    }

}
