@inject IInvoiceItemService InvItemService
@inject IVatRateService VatService
@inject IUnitOfMeasureService MeasurService
@if (IsVisible)
{
    <div class="modal modal-dialog-centered" tabindex="-1" role="dialog" id="modalChoice">
        <div class="modal-dialog" role="dialog">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0">Items Operations</h5>

                    <EditForm Model="Item" OnValidSubmit="SubmitForm">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div style="display: none;">
                                <label for="id">Id</label>
                                <InputNumber id="id" @bind-Value="Item.Id" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => Item.Id)" />
                            </div>
                            <div class="col-8">
                                <label for="name">Name</label>
                                <InputText id="name" @bind-Value="Item.Item.Name" class="form-control"></InputText>
                                <ValidationMessage For="@(() => Item.Item.Name)" />
                            </div>
                        </div>
                        <div>
                            <label for="description">Description</label>
                            <InputTextArea id="description" @bind-Value="Item.Description" class="form-control"></InputTextArea>
                            <ValidationMessage For="@(() => Item.Description)" />
                        </div>
                        <div class="row">


                            <div class="col-6">
                                <label for="netPrice">NetPrice</label>
                                <InputNumber id="netPrice" @bind-Value="Item.NetPrice" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => Item.NetPrice)" />
                            </div>
                            <div class="col-6 ">
                                <label for="quantity">Quantity</label>
                                <InputNumber id="quantity" @bind-Value="Item.Quantity" class="form-control"></InputNumber>
                                <ValidationMessage For="@(() => Item.Quantity)" />
                            </div>

                        </div>
                        <div class="m-3">
                            <button type="submit" class="btn btn-primary">Update Invoice Item</button>
                            <button class="btn btn-dark" @onclick="Close">Close</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickClose { get; set; }
    [Parameter]
    public InvoiceItems Item { get; set; }
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public bool WasEdited { get; set; }
    bool _isNew = true;
    private async void SubmitForm()
    {

        await InvItemService.UpdateInvoiceItemAsync(Item);
        WasEdited = true;
        Close();

    }
    private async void Close()
    {
        IsVisible = false;
        await OnClickClose.InvokeAsync();

    }
}
